@media (min-width: 320px) {
    
}
@media (min-width: 768px) {}


@media (min-width: 992px) {
    .hamburger2  {
        display: none !important;
    }
    .sa-menu ul.navbar-nav li+li.nav-item {
        position: relative;
        padding-left: 13.64px;
    }
    .sa-menu ul.navbar-nav li+li.nav-item::before {
        content: '/';
        position: absolute;
        width: 12px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        color: #B9B9B9;
    }
    .sa-contact ul li+li::before {
        content: '|';
        position: absolute;
        width: 12px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        top: 0;
        bottom: 0;
        left: -50px;
        color: #B9B9B9;
    }
  
} 
@media (min-width: 1224px) {}

@media (max-width: 1223px) {

}

@media (max-width: 991px)
{
    .sa-menu{
        display: inherit !important;
    } 
    .header {
        position: inherit;
    }
    /* .sa-humburger{
        padding: 15px;
        background-color: var(--bg-green);
        border-radius: 200px;
    } */

     /* Footer */

 
    
}

@media (max-width: 767px) {
    .title-h2 {
        font-size: 60px;
    }
    .title-h3 {
        font-size: 40px;
    }
    .title-h4 {
        font-size: 25px;
        margin-top: -27px;
    }
    .etf-sub .news-description {
        font-size: 18px;
    }
    .title-h5 {
        font-size: 22px;
    }
    .m-100top {
        margin-top: 45px;
    }
    .m-subtop {
        margin-top: 35px;
    }

}

@media (max-width: 599px) {
    .navbar-brand img{
        width: 170px;
    }
    /* .bar2, .bar3 {
        top: 8.1px;
    } */
    .sa-socials li {
        width: 30px;
        height: 30px;
    }
    .sa-commentaries .nav-link {
        padding: 18px 18px;
        font-size: 13px;
    }
    .sa-commentaries .tab-content{
        padding: 40px 20px 20px 20px;
    }
    .font28 {
        font-size: 20px;
    }
    .sa-commentaries .item {
        padding: 25px;
    }
    .top-shape {
        margin-top: -50px;
    }
    .title-h2 {
        font-size: 30px;
    }
    .title-h4 {
        font-size: 17px;
        margin-top: -19px;
    }
    .sa-commentaries .owl-carousel .owl-nav button.owl-next, .sa-commentaries .owl-carousel .owl-nav button.owl-prev{
        position: inherit;
        margin: 30px 0;
    }
   .sa-commentaries .owl-carousel .owl-nav button.owl-prev{ 
    margin-right: 20px;
    }
    .sa-etf-news {
        padding: 35px 50px;
    }
   
}

@media (max-width: 480px) {
   
}

@media (min-width: 768px) and (max-width: 991px) {
    .title-h2 {
        font-size: 70px;
    }
    .title-h3 {
        font-size: 40px;
    }
    .title-h4 {
        font-size: 35px;
        margin-top: -38px;
    }
    .etf-sub .news-description {
        font-size: 18px;
    }
    .title-h5 {
        font-size: 30px;
    }    

}

@media (min-width: 992px) and (max-width: 1199px) {
  
}

@media (min-width: 992px) and (max-width: 1223px) {
    .top-shape {
        margin-top: -90px;
    }
}

@media (min-width: 1224px) and (max-width: 1399px) {
    
}

@media (min-width: 1224px) and (max-width: 1900px) {

}