/* --- Common Variables Start --- */

:root {
    /* Color Variables */
	--primary-color: #E58411;
	--secondary-color: #1E1E1E;
	--background-color: #F7F7F7;
	--background-white-color: #ffffff;
	--text-color: rgba(30, 30, 30, 1);
	--text-color-white: #ffffff;
	--link-color: #E58411;
	--link-hover-color: #1E1E1E;
    /* Typography Variables */
	--font-family: 'Gilroy', sans-serif;
	--font-size: 16px;
	--font-size-small: 14px;
	--font-size-large: 18px;
	--font-size-extra: 42px;
	--line-height: 1.5;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semi-bold: 600;
	--font-weight-bold: 700;
	--gradient: linear-gradient(0deg, rgba(255,255,255,0.86) 0%, rgba(255,255,255,1) 100%);
	--input-border-color: #E58411;
	--input-border-focus-color: #1E1E1E;
	--border-radius: 20px;
}


/* --- Common Variables End --- */

/* --- Common Css Start --- */


body {
	position: relative;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--secondary-color);
}


a,
a:link,
a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	padding-left: 0;
}

dl, ol, ul {
	margin-top: 0;
	margin-bottom: 0;
}

li {
	list-style: none;
}

a,
.btn,
button,
:after,
:before {
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
	max-width: 1280px;
}  


/* Commen btn CSS */
.common-btn a {
	font-size: var(--font-size-small);
	color: var(--primary-color);
	text-transform: capitalize;
	font-weight: var(--font-weight-medium);
	display: inline-flex;
	align-items: center;
	transition: all 0.3s ease;
}

/* Arrow image styling */
.common-btn a img {
	transition: transform 0.3s ease;
 /* Transition for arrow movement */
	margin-left: 10px;
	vertical-align: middle;
}

/* Arrow movement on hover */
.common-btn a:hover img {
	transform: translateX(5px);
 /* Move arrow slightly to the right */;
}



/* Commen btn CSS End*/

/* Plugin */


.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev {
	background-color: var(--background-white-color);
	width: 50px;
	height: 50px;
	border-radius: 100px;
	filter: drop-shadow(8px 0px 81px #000000);
}

.owl-theme .owl-nav [class*=owl-]:hover {
	background: var(--link-color);
	color: #FFF;
	text-decoration: none;
}

.green-arrow-hover:hover svg {
	fill: var(--background-white-color);
	filter: invert(1);
}


/*  Plugin */


/* Space  */
section:nth-child(odd) {
	margin: 100px 0;
}


/* Space & Shape */


/* Fonts Style */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 0;
}

.common-head h2 {
	font-size: var(--font-size-extra);
	text-transform: capitalize;
	font-weight: var(--font-weight-bold);
}

.common-head span {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-semi-bold);
	color: var(--primary-color);
	text-transform: uppercase;
}

.sub-head h3 {
	font-size: 24px;
	font-weight: var(--font-weight-bold);
	text-transform: capitalize;
	color: var(--secondary-color);
}

.common-des p, .common-des span {
	font-size: var(--font-size-large);
	color: var(--secondary-color);
	margin: 20px 0;
	opacity: 0.8;
}



/* Duplicate Image */
.images-effect, .pd-images {
	position: relative;
}

.pd-images .image-blur {
	position: absolute;
	bottom: -30px;
	right: 0;
	left: 0;
	z-index: -1;
	-webkit-filter: blur(52px);
	-moz-filter: blur(52px);
	-o-filter: blur(52px);
	-ms-filter: blur(52px);
	filter: blur(52px);
	width: 40% !important;
	margin: 0 auto;
}

/* --- Common Css End --- */


/* Border-Radius */
.br-full {
	border-radius: var(--border-radius);
}

.br-left {
	border-radius: 0 20px 20px 0;
}

.br-right {
	border-radius: 20px 0 0 20px;
}
/* Border-Radius  */



/* Header CSS Start */
.header {
	position: absolute;
	z-index: 3;
	width: 100%;
	padding-top: 20px;
}

.header .navbar-nav {
	display: flex;
	justify-content: center;
	width: 100%;
}

.header .nav-item .nav-link, .dropdown-item {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-medium);
	color: var(--text-color-white) !important;
}

.badge {
	background-color: var(--primary-color);
	padding: 6px;
	border-radius: 100%;
	margin-left: -15px;
	font-size: 17px;
}

.header .nav-item .dropdown-menu {
	background-color: #000000b5;
	padding: 20px 10px;
	border-radius: var(--border-radius);
}

.header .nav-link:focus, .header .nav-link:hover, .btn-close:hover {
	color: var(--link-color) !important;
}

.dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
	background-color: transparent;
	color: var(--text-color-white) !important;
}

.nav-link:focus-visible, .btn-close:focus {
	box-shadow: inherit;
}
/* .dropdown-toggle::after{
    display: none;
} */
/* .dropdown-toggle:before{
	position: absolute;
    top: 2px;
    right: -10px;
    bottom: 0;
    content: '';
    width: 12px;
    height: 6px;
    margin: auto;
    background: url(/images/Vector.svg) no-repeat center;
    background-size: contain;
} */




/* Menu */
/* Sidebar styles */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	background-color: var(--secondary-color);
	color: #fff;
	transform: translateX(-100%);
	transition: transform 0.3s ease-in-out;
	z-index: 1000;
	padding: 20px;
}

.sidebar.active {
	transform: translateX(0);
}

/* Overlay styles */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #e5841169;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	z-index: -1;
}

#overlay {
	pointer-events: none;
}

#overlay.show {
	pointer-events: auto;
}

.overlay.show {
	opacity: 1;
	visibility: visible;
}

.overlay.active {
	opacity: 1;
	pointer-events: auto;
}

/* Close button styles */
.btn-close {
	background: none;
	border: none;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Navbar toggler styles */
.navbar-toggler {
	border: none;
	background: none;
}

.navbar-toggler-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: none;
}

.navbar-toggler-icon  path {
	fill: var(--background-color);
}

.navbar-toggler:focus {
	box-shadow: none;
}

.sidebar.active .navbar-toggler {
	visibility: hidden;
}

.navbar-brand {
	margin: 0 auto 0 0;
}


/* Menu */


/* Header CSS END */








/* Banner CSS Start */
.banner {
	position: relative;
 /* Allows for absolute positioning of children */
	overflow: hidden;
 /* Hides any overflow from the image */
	display: flex;
	justify-content: center;
 /* Centers image horizontally */;
}

.banner::before {
	position: absolute;
	content: '';
	z-index: 2;
 /* Position above other content */
	height: 200px;
 /* Adjust as needed */
	width: 100%;
	bottom: -2px;
 /* Adjust to control how far the gradient extends below the banner */
	left: 0;
	right: 0;
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 53%, rgba(255, 255, 255, 1) 83%);
	background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 53%, rgba(255, 255, 255, 1) 83%);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 53%, rgba(255, 255, 255, 1) 83%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
}

/* Style for the Owl Carousel */
.banner .owl-carousel {
	position: relative;
}
/* Style for the container within each item */
.banner .container {
	display: flex;
	flex-direction: column;
 /* Stack children vertically */
	align-items: center;
 /* Center children horizontally */
	justify-content: center;
 /* Center children vertically */
	text-align: center;
 /* Center text inside container */
	position: absolute;
 /* Positioning absolute to center over the image */
	top: 35%;
 /* Move container to the center */
	left: 50%;
	transform: translate(-50%, -50%);
 /* Center container exactly */
	z-index: 1;
 /* Ensure container is on top of the image */;
}

/* Style for each item in the carousel */
.banner .owl-item {
	display: flex;
	align-items: center;
 /* Center content vertically */
	justify-content: center;
 /* Center content horizontally */
	position: relative;
}

.banner .owl-carousel .owl-item img {
	max-height: 1084px;
	height: 100%;
	object-fit: cover;
}

.banner-heading {
	color: #fff;
	text-align: center;
	z-index: 1;
}

.banner-heading h1 {
	font-size: 80px;
	font-weight: var(--font-weight-bold);
	text-transform: capitalize;
}

.banner-heading .common-des span {
	font-size: 24px;
	color: var(--text-color-white);
	opacity: 0.8;
}

.banner-heading .common-des {
	margin: 40px auto;
}

.banner-heading .input-group {
	max-width: 344px;
}

.banner-heading .form-control {
	padding: 12px .75rem;
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.6);
	color: rgba(255 255 255 / 80%);
}

.form-control::placeholder {
	color: rgba(255 255 255 / 80%);
}

.form-control[value] {
	font-size: var(--font-size-large);
}

.form-control:focus {
	box-shadow: inherit !important;
}

.input-group .btn {
	background-color: var(--primary-color);
	right: 8px;
}

.fa-search:before {
	color: var(--text-color-white);
}

.banner-heading .input-group-append {
	display: flex;
	align-items: center;
}

/* Ensure clear button is hidden by default */
.input-group>.form-control:focus {
	z-index: 0;
}


/* Tooltip */


.tooltip-container {
	position: absolute;
}

.tooltip-button {
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.6);
	color: white;
	padding: 9px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 4px 2px;
	cursor: pointer;
	width: 32px;
	height: 32px;
	border-radius: 42px;
	transition: width 2s;
	position: relative;
	overflow: hidden;
 /* Ensures pseudo-elements do not overflow */
	display: flex;
	justify-content: center;
	align-items: center;
	transition: width 0.3s ease, height 0.3s ease;
 /* Smooth transition for width and height */;
}

.tooltip-button .rounded {
	width: 10.29px;
	height: 10.29px;
	background-color: var(--background-white-color);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100% !important;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
 /* Centered inside button */
	transition: width 0.3s ease, height 0.3s ease;
 /* Smooth transition for width and height */;
}

.tooltip-box {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 10px;
	height: 440px;
	max-width: 1310px;
	width: 100%;
}

.tooltip-content  .tooltip-item {
	width: 24px;
	height: 24px;
	border: 2px solid var(--background-white-color);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	align-items: center;
	padding: 8px;
}

.tooltip-item .fa-check {
	opacity: 0;
	font-size: 11px !important;
	color: var(--text-color-white);
}

.tooltip-item.active .fa-check {
	opacity: 1;
}

.tooltip-content li:nth-child(1) {
	background-color: var(--primary-color);
}

.tooltip-content li:nth-child(2) {
	background-color: #00D6C9;
}

.tooltip-content li:nth-child(3) {
	background-color: #7C7C7C;
}

.tooltip-content {
	display: none;
	position: absolute;
	top: -180%;
	border-radius: 42px;
	padding: 12px;
	z-index: 1;
	width: auto;
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.6);
	left: 50%;
 /* Center horizontally */
	transform: translateX(-50%);
 /* Center tooltip content */
	transition: opacity 0.3s ease, width 0.3s ease, height 0.3s ease;
 /* Smooth transition for opacity, width, and height */;
}

.tooltip-content ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	width: auto;
}

.tooltip-content ul li+li {
	margin-left: 8px;
}

.tooltip-content::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.6) transparent transparent transparent;
}

.tooltip-button.active + .tooltip-content {
	display: block;
 /* Show tooltip when active */;
}

.tooltip-container:nth-child(1) {
	top: 24%;
	left: 2%;
}

.tooltip-container:nth-child(2) {
	top: 20%;
	left: 16%;
}

.tooltip-container:nth-child(3) {
	top: 30%;
	left: 55%;
}

.tooltip-container:nth-child(4) {
	top: 45%;
	right: -23px;
}

.tooltip-button::before, .tooltip-button::after {
	position: absolute;
	top: 0;
	left: 0;
	border-color: var(--primary-color);
	border-radius: 5px;
	border-style: solid;
	transition: all 0.35s;
	content: "";
	z-index: 1;
}

.tooltip-button::before {
	width: 0;
	height: 100%;
	border-width: 1px 0 1px 0;
}

.tooltip-button::after {
	width: 100%;
	height: 0;
	border-width: 0 1px 0 1px;
}

.tooltip-button:hover {
	border-color: var(--primary-color);
	color: var(--primary-color);
}

.tooltip-button:hover::before {
	width: 100%;
	border-width: 1px 0 1px 0;
}

.tooltip-button:hover::after {
	height: 100%;
	border-width: 0 1px 0 1px;
}

.tooltip-button:hover .rounded {
	background-color: var(--primary-color);
}

/* .tooltip-button.active{
    width: 56px;
    height: 56px;
}
.tooltip-button.active .rounded{
    width: 18px;
    height: 18px;
} */
/* Tooltip */


/* Banner CSS END */
.ms-n5 {
	margin-left: -40px;
}

/* Choose Section CSS Start */
.choose .common-head {
	max-width: 265px;
}



/* Choose Section CSS END */

/* Product Section CSS END */
.product {
	background-color: var(--background-color);
	padding: 50px 0;
}

.pd-category-deatils {
	margin: 100px 0 60px 0;
	transition: margin-top 0.3s ease;
 /* Smooth transition */;
}
/* Initial state: content is hidden */
.tab-pane {
	opacity: 0;
	transform: translateY(20px);
 /* Start position for slide effect */
	transition: opacity 0.5s ease, transform 0.5s ease;
 /* Transition for fade and slide effects */;
}
  
  /* Active state: content is visible */
.tab-pane.show {
	opacity: 1;
	transform: translateY(0);
 /* End position */;
}

.pd-category-tab nav {
	display: flex;
	justify-content: center;
}

  /* Styles to apply when content is empty */
.pd-category-deatils.empty {
	margin-top: 0;
 /* Remove margin when content is empty */;
}

.pd-category-tab .nav {
	margin-top: 32px;
	background-color: #EEEEEE;
	border-radius: 44px;
	padding: 7px;
	display: flex !important;
	overflow-x: scroll;
	overflow-y: hidden;
	align-items: center;
	flex-wrap: nowrap;
	-webkit-overflow-scrolling: touch;
 /* Enable momentum scrolling on iOS */;
}

.nav-tabs::-webkit-scrollbar {
	display: none;
 /* Hides the scrollbar in WebKit-based browsers */;
}

.nav-tabs {
	scrollbar-width: none;
 /* Hides scrollbar in Firefox */;
}

.pd-category-tab .nav-tabs .nav-link {
	padding: 7px 20px;
	border-radius: 44px;
	font-size: var(--font-size-large);
	color: var(--secondary-color);
	font-weight: var(--font-weight-normal);
	margin-bottom: 0;
	border: 0;
}

.pd-category-tab .nav-tabs .nav-item.show .nav-link, .pd-category-tab .nav-tabs .nav-link.active {
	color: var(--link-hover-color);
	font-weight: var(--font-weight-medium);
	background-color: var(--background-white-color);
}

.pd-category-tab .nav-tabs .nav-link.active
.pd-category-tab .pd-inner {
	border-radius: var(--border-radius);
}

.pd-category-tab .pd-img, .pd-category-tab .pd-deatils {
	padding: 24px;
}

.pd-category-tab .pd-img {
	background-color: #FAFAFA;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	max-height: 220px;
}

.pd-category-tab .pd-img img {
	width: 220px;
	height: 250px;
	top: -30px;
	position: relative;
}

.pd-category-tab .pd-deatils {
	background-color: var(--background-white-color);
	border-radius: 0 0 20px 20px;
}

.rating-score {
	display: inline-flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 0;
	padding: 0;
}

.fa-star:before {
	color: #F6B76F;
}

.pd-category-tab .pd-name {
	color: #8D8D8D;
	font-family: inter !important;
}

.pd-category-tab .pd-sub-name h4 {
	margin: 4px 0;
	color: #0D1B39;
	font-family: inter !important;
	font-size: 21px;
	font-weight: var(--font-weight-semi-bold);
}

.pd-category-tab .pd-redirect {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 35px;
}

.pd-category-tab .pd-links {
	height: 48px;
	width: 48px;
	padding: 12px;
	background-color: #0D1B39;
	border-radius: 100%;
}

.pd-category-tab .pd-price {
	display: inline-flex;
	flex-direction: row;
	align-items: flex-start;
}

.pd-category-tab .pd-price span {
	font-size: 15px;
	font-family: inter;
	font-weight: var(--font-weight-semi-bold);
	color: #0D1B39;
}

.pd-category-tab .pd-price h5 {
	font-size: 21px;
	font-family: inter;
	font-weight: var(--font-weight-semi-bold);
	color: #0D1B39;
}

.pd-category-tab .pd-img::before,
  .pd-category-tab .pd-img::after {
	position: absolute;
	content: "";
	width: 35px;
	height: 35px;
	z-index: 1;
}

.pd-category-tab .pd-img::before {
	left: 0;
	top: 0;
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-radius: 20px 0 0 0;
}

.pd-category-tab .pd-img::after {
	right: 0;
	top: 0;
	border-right: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-radius: 0 20px 0 0;
}
  /* .disabled{
    display: none;
  } */
 
.pd-category-tab .common-btn a {
	font-size: var(--font-size-large);
}

  
/* Change SVG fill color (requires inline SVG) */
.product .owl-carousel .item .pd-inner:hover img {
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

/* Change fill color of inline SVG */
.product .owl-carousel .item svg {
	transition: fill 0.3s ease;
}


/* Hover effect for SVG images */
.product .owl-carousel .item img {
	transition: transform 0.3s ease, filter 0.3s ease;
}

.product .owl-carousel .item .pd-inner:hover img {
	transform: scale(1.1);
 /* Scale up the image */
	filter: brightness(1.2);
 /* Increase brightness on hover */;
}

.product .owl-carousel .item .pd-inner:hover .pd-links img {
	animation: rotate 2s linear infinite;
 /* Apply rotation animation */;
}

.product .owl-carousel.owl-drag .owl-item {
	padding-top: 60px;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.green-arrow-hover {
	width: 30px;
	height: auto;
	transition: transform 0.4s;
}

.owl-prev .green-arrow-hover:hover {
	transform: translateX(8px);
}

.owl-next .green-arrow-hover:hover {
	transform: translateX(-8px);
}


/*  
.pd-inner:hover .pd-img img{
    transform: translateY(-50px);
  }
  .pd-inner:hover .pd-img img {
    transform: translate(0, -40px) rotate(0deg) scale(1.4);
  }
  .pd-inner, .pd-inner * {
    box-sizing: border-box;
    transition: 400ms;
  } */

/* Experiences Section Start */
.experiences, .testimonials {
	margin: 300px 0 150px 0 !important;
}

.inner-sub {
	max-width: 550px;
	margin-left: 100px;
	text-align: left;
}

.images-effect:before {
	content: '';
	position: absolute;
	left: 0;
	top: -60px;
	z-index: -2;
	width: 75%;
	max-width: 495px;
	height: 100px;
	border-radius: 0 20px 0 0;
	background-color: var(--background-color);
}

.images-effect::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: -2;
	width: 61px;
	height: 300px;
	border-radius: 0 20px 20px 0;
	background-color: var(--background-color);
}

.materials .images-effect::after {
	display: none;
}

.materials .images-effect:before {
	right: 0 !important;
	border-radius: 20px 0 0 0;
	left: inherit;
}

.materials .pd-images {
	margin-top: 50px;
} 





/* Review */
.testimonials {
	margin-bottom: 10px !important;
}

.review-slider {
	margin-top: 60px;
}

.reviews {
	background-color: var(--background-white-color);
	border-radius: var(--border-radius);
	text-align: center !important;
	position: absolute;
	bottom: 18px;
	z-index: 55;
	left: 18px;
	right: 18px;
	padding: 0 40px 18px 40px;
	transition: .5s ease;
    /* opacity: 0; */;
}

.item:hover .reviews {
	opacity: 1;
}

.review-slider .reviews-img  img {
	width: 50px !important;
	height: 50px !important;
	border-radius: 50px;
}

.review-slider .pd-images img {
	width: 100%;
	height: 476px;
}

.reviews-img {
	background-color: var(--background-white-color);
	border-radius: 50px;
	margin: -24px auto 8px auto;
	width: 66px;
	height: 66px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
}

.reviews .common-des p {
	font-size: var(--font-size-small);
	margin: 10px 0;
}

.reviews .re-name h4 {
	font-size: var(--font-size-large);
}

.reviews .sub-name span {
	font-size: 12px;
	opacity: 0.6;
	;
}

.reviews .common-des p:before {
	content: open-quote;
}

.reviews .common-des p:after {
	content: close-quote;
}

.reviews .common-des p {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-webkit-line-clamp: 3;
 /* Number of lines to show */
	line-clamp: 3;
 /* Optional, for consistency */
	quotes: '“' '”';
}

.testimonials .owl-carousel .owl-stage-outer {
	padding-bottom: 170px;
}

.reviews .fa-star:before {
	color: #F6973F;
	font-size: var(--font-size-small);
}

.rating-score li+li {
	margin-left: 4px;
}

.rating-score[data-rating="4.5"] > li:nth-child(5) .fa-star:before, 
.rating-score[data-rating="3.5"] > li:nth-child(4) .fa-star:before,
.rating-score[data-rating="3.5"] > li:nth-child(5) .fa-star:before, 
.rating-score[data-rating="2.5"] > li:nth-child(3) .fa-star:before,
.rating-score[data-rating="2.5"] > li:nth-child(4) .fa-star:before, 
.rating-score[data-rating="2.5"] > li:nth-child(5) .fa-star:before,  
.rating-score[data-rating="1.5"] > li:nth-child(2) .fa-star:before, 
.rating-score[data-rating="1.5"] > li:nth-child(3) .fa-star:before, 
.rating-score[data-rating="1.5"] > li:nth-child(4) .fa-star:before, 
.rating-score[data-rating="1.5"] > li:nth-child(5) .fa-star:before, 
.rating-score[data-rating="0.5"] > li:nth-child(1) .fa-star:before,
.rating-score[data-rating="0.5"] > li:nth-child(2) .fa-star:before,
.rating-score[data-rating="0.5"] > li:nth-child(3) .fa-star:before,
.rating-score[data-rating="0.5"] > li:nth-child(4) .fa-star:before,
.rating-score[data-rating="0.5"] > li:nth-child(5) .fa-star:before {
	opacity: 0.3 !important;
}

.item:hover .reviews {
    opacity: 1; 
    visibility: visible; 
    transform: translateY(0); 
}
.reviews {
    opacity: 0; 
    visibility: hidden; 
    transform: translateY(20px); 
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease; 
}

.owl-item.active.center .reviews {
    opacity: 1; 
    visibility: visible; 
    transform: translateY(0); 
} 



/* Footer  */

footer {
	background-color: var(--background-color);
	padding: 100px 0 50px 0;
}

.nav-section .nav-text {
	font-size: 17px;
	color: var(--primary-color);
	margin-bottom: 20px;
}

.nav-section ul li {
	margin-top: 10px;
}

.nav-section ul li a,
footer .copywrite span, 
footer .condition a {
	color: var(--secondary-color);
	opacity: 0.8 !important;
	font-weight: var(--font-weight-medium);
	font-size: 15px;
}

.nav-section ul li a:hover,
footer .condition a:hover {
	opacity: 2 !important;
}

.nav-section ul li a:hover i {
	color: var(--primary-color) !important;
}

.fab {
	margin-right: 10px;
	vertical-align: middle;
}

footer .row+.row {
	margin-top: 100px;
}

footer .condition a+a {
	margin-left: 40px;
}
/* footer ul li {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0 0 1.25rem -24px;
    padding: 0;
} */








@media (min-width: 320px) {
}

@media (min-width:576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    

	footer .row:first-child > div {
		display: flex;
		justify-content: center;
	}

	.experiences .container-fluid, .materials .container-fluid {
		max-width: 1440px;
		width: 100%;
	}

	.header .navbar-nav li+li {
		margin-left: 61px;
	}

	.header .navbar-nav .sub-menu li+li {
		margin-left: 0;
	}
}

@media (min-width: 1224px) {
}

@media (min-width: 1350px) {
	.review-slider .owl-prev,
.review-slider .owl-next {
		position: absolute;
		top: 26%;
		transform: translateY(-50%);
	}

	.review-slider .owl-prev {
		left: -1rem;
	}

	.review-slider .owl-next {
		right: -1rem;
	}

	.owl-prev,
.owl-next {
		position: absolute;
		top: 43%;
		transform: translateY(-50%);
	}

	.owl-prev {
		left: -2rem;
	}

	.owl-next {
		right: -2rem;
	}
}

@media (max-width: 1349px) {
	.testimonials .owl-carousel .owl-stage-outer {
		padding-bottom: 50px;
	}

	.testimonials .pd-images .image-blur {
		bottom: -15px;
		filter: blur(19px);
	}

	.experiences, .testimonials {
		margin: 100px 0 48px 0 !important;
	}
}

@media (max-width: 991px) {
   
	.banner-heading h1 {
		font-size: 35px;
	}

	.choose-inner, .inner-sub {
		margin-top: 30px;
		margin-left: 0;
		max-width: 100% !important;
	}

	.common-head h2 {
		font-size: 32px;
	}

	.banner::before {
		height: 87px;
	}

	.tooltip-button {
		width: 23px;
		height: 23px;
	}

	.tooltip-box {
		height: 227px;
	}

	.tooltip-button .rounded {
		width: 7.29px;
		height: 7.29px;
	}

	.tooltip-container:nth-child(4) {
		top: 45%;
		right: 14px;
	}

	footer .row+.row {
		margin-top: 50px;
	}

	.banner-heading .common-des {
		margin: 10px auto;
	}

	.banner-heading {
		top: 36%;
		padding: 10px;
	}
	.experiences .pd-images img{
		width: 100%;
	}
	.images-effect::after {
		display: none;
	}
}

@media (max-width: 767px) {
	.inner-sub {
		margin-left: 0;
	}

	.copywrite, .condition {
		text-align: center;
	}



	section:nth-child(odd) {
		margin: 50px 0;
	}

	.banner-heading h1 {
		font-size: 25px;
	}

	.banner-heading .common-des span {
		font-size: var(--font-size-large);
	}
}

@media (max-width: 576px) {
   
	.images-effect::after, .tooltip-box {
		display: none;
	}

	footer div > .nav-section {
		margin-bottom: 20px;
	}

	footer div > :last-child .nav-section {
		margin-bottom: 0;
	}

	footer .row+.row {
		text-align: center;
	}

	.materials .pd-images {
		display: inline-flex;
		justify-content: space-between;
		float: left;
  margin-right: 10px; /* Adjust margin as needed */
	}
    /* .pd-category-tab .nav{
        flex: auto;
        display: inline-grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        } */
	.banner .owl-carousel .owl-item img {
		height: 550px;
	}

	.banner-heading {
		top: 36%;
		padding: 10px;
	}

	.banner-heading h1 {
		font-size: 20px;
	}

	.banner-heading .common-des span {
		font-size: var(--font-size-small);
	}

	.banner::before {
		height: 190px;
	}
}

@media (max-width: 480px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
	.tooltip-box {
		height: 340px;
	}
}

@media (min-width: 992px) and (max-width: 1223px) {
}

@media (min-width: 992px) and (max-width: 1399px) {
	.tooltip-container:nth-child(4) {
		right: 19px;
	}
}

@media (min-width: 1224px) and (max-width: 1399px) {
}

@media (min-width: 1224px) and (max-width: 1900px) {
}
















